/** 01.0 - FONTS */
@font-face {
	font-family: "Google Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url('../fonts/google-sans-regular.woff2') format("woff2");
}

@font-face {
	font-family: "Google Sans";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''), url('../fonts/google-sans-medium.woff2'), format("woff2");
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular') url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Roboto Medium'), local('Roboto-Medium'),
	url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}
